body{
    background-image: url(https://i.pinimg.com/736x/df/b1/cb/dfb1cba1c7016c7c5241bd10a69cd563--best-street-food-markiplier.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
